//
@import 'node_modules/bootstrap/scss/bootstrap';

$color: #0073aa;

body {
    background: #ecf0f5;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a:hover{
    text-decoration: none;
}
.p-60 {
    padding: 60px 0px;
}
.p-t-60 {
    padding-top: 60px;
}
.p-b-60 {
    padding-bottom: 60px;
}
.swal-footer {
    text-align: center !important;
    .swal-button{
        background: $color !important;
    }
}

.welcome {
    position: relative;
    width: 100%;
    aside {
        &.main-sidebar {
            background: #23282d;
            position: fixed;
            height: 100vh;
            top: 0;
            width: 240px;
            color: #fff;
            z-index: 9999;
            .header {
                background: $color;
                padding-top: 8px;
                padding-bottom: 3px;
                h2 {
                    font-size: 25px;
                    letter-spacing: 15px;
                    span {
                        display: block;
                        font-size: 13px;
                        letter-spacing: 1px;
                        font-style: italic;
                        font-weight: normal;
                    }
                }
            }
            ul {
                &.sidebar-menu {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li {
                        text-transform: capitalize;
                        font-size: 15px;
                        transition: 0.4s;
                        position: relative;
                        &.is-active {
                            border-left: 4px solid $color;
                            background: #000;
                            color: #fff !important;
                            a {
                                color: #fff !important;
                                padding-left: 16px;
                            }
                        }
                        .active {
                            background: $color;
                        }
                        &:hover {
                            background: $color;
                        }
                        a {
                            color: #b8c7ce;
                            display: block;
                            padding: 15px 10px;
                            transition: 0.4s;
                            text-decoration: none;
                            padding-left: 20px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    div{
        &.nav-after{
            position: absolute;
            background: #23282D;
            left: 240px;
            top: 0;
            width: 100vw;
            overflow-x: hidden;
            padding-right: 30vw;
            height: 50vh;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
            .right {
                padding: 20px 0px;
                ul {
                    li {
                        display: inline-block;
                        width: 45%;
                        font-size: 14px;
                        margin-bottom: 5px;
                        a {
                            padding: 5px 10px;
                        }
                    }
                }
            }
            .left {    
                position: fixed;
                width: 18%;
                height: 100%;
                ul {
                    li {
                        text-transform: uppercase !important;
                        font-size: 16px;
                        padding: 14px 15px;
                        &:hover {
                            background: #0073AA;
                        }
                    }
                }
            }
        }   
    }
    .content-wrapper {
        position: relative;
        z-index: 1;
        margin-left: 240px;
        padding: 25px;
        .main-content{
            padding-top: 14px;
        }
        .fix-menu{
            background: $color;
            margin: -25px;
            margin-bottom: 0px;
            padding: 20px 0px;
            // position: fixed;
            // width: 100%;
            // z-index: 99;
            a {
                font-size: 16px;
                color: #fff;
                margin-right: 20px;
            }
        }
    }
}
.menu-btn-area{
    .menu-btn {
        background: #0073AA;
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;
        padding: 15px 0px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
    }
}

.testimonials {
    background: #F3F5F6;
    position: relative;
    .left{
        width: 60%;
        min-height: 400px;
        padding: 0px 15px;
        display: table;
        height: 100%;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            display: table-cell;
            vertical-align: middle;
            li {
                display: inline-block;
                width: 13%;
                margin-bottom: 15px;
                cursor: pointer;
                &.active {
                    img{
                        border-color: $color;
                        border-style: solid;
                    }
                }
                img {
                    transition: .2s;
                    border-radius: 50%;
                    width: 32px;
                    border: 2px;
                    border-style: unset;
                    &:hover {
                        border-color: $color;
                        border-style: solid;
                    }
                }
            }
        }
    }
    .right {
        background: #E4E4E4;
        position: absolute;
        top: 0;
        width: 40%;
        display: table;
        height: 100%;
        left: 60%;
        padding: 0px 15px;
        .review-user-infos {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            height: 100%;
            font-size: 12px;
            line-height: 20px;
        }
        img {
            border-radius: 50%;
            width: 70px;
        }
        h5 {
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 5px;
        }
        button {
            margin-top: 20px;
        }
    }
}

[data-modal="supportModel"] {
    .v--modal-box {
        left: 240px !important;
        width: 100% !important;
        height: 100vh !important;
        border-radius: 0px !important;
        color: #222;
        .supportModel {
            margin-right: 240px;
        }
    }
}
